/* Background */

#Ballimg {
    float: left;
    margin: 10px;
}

#Balld {
    border: 5px solid;
    width: 1500px;
    height: 300;
    font-size: 25px;
    padding-left: 5px;
    margin-left: 5px;
    display: inline-block;

}

#Clickyimg {
    float: left;
    margin: 10px;
}

#Clickyd {
    border: 5px solid;
    width: 1500px;
    height: 290;
    font-size: 25px;
    padding-left: 5px;
    margin-left: 5px;
    display: inline-block;


}

#vilimg {
    float: left;
    margin: 10px;
}

#Vild {
    border: 5px solid;
    width: 1500px;
    height: 400px;
    font-size: 25px;
    padding-left: 5px;
    margin-left: 5px;
    display: inline-block;

}

body {
    background-color: white;

}

h1.header {
    color: black
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}