/* Background */

#Ballb {
    border: 5px;
    width: 250px;
    height: 250;
    font-size: x-large;
    
}

body {
    background-color: white;

}

h1.header {
    text-align: center;
    color: black
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

container {
    width: 46%;

}